<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!-- 欢迎界面列表 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- servlet配置 -->
  <servlet>
  	<servlet-name>test</servlet-name>
  	<servlet-class>com.li.test.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  
  	<servlet-name>test</servlet-name>
  	<url-pattern>/aa</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>download</servlet-name>
  	<servlet-class>com.li.test.downloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  
  	<servlet-name>download</servlet-name>
  	<url-pattern>/bb</url-pattern>
  </servlet-mapping>

   <servlet>
  	<servlet-name>zc</servlet-name>
  	<servlet-class>com.li.test.ZhuCeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>zc</servlet-name>
  	<url-pattern>/cc</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>lian</servlet-name>
  	<servlet-class>com.li.test.LianxiServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>lian</servlet-name>
  	<url-pattern>/li</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ss</servlet-name>
  	<servlet-class>com.li.test.ShowUserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>ss</servlet-name>
  	<url-pattern>/ss.do</url-pattern>
  </servlet-mapping>
  
  
  
  
  <!-- 过虑器 -->
  <filter>
  	<filter-name>Test</filter-name>
  	<filter-class>com.lovo.Filter.TestFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Test</filter-name>
  	<!-- 拦截请求 -->
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  
  
</web-app>
